*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html{
    height: 100%;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 2.5em;
    scroll-behavior: smooth;
}

.text1{
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
    color: #ddd;
    font-size: 30px;
    letter-spacing: 8px;
}

#contactMe{
    font-size: 3vh;
}

h1{
    font-size: 8vh;
    font-family: monospace;
}
.pimg1{
    background-image: url("DSC_0938-min.jpg");
    opacity: 0.9;
    z-index: -1;
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
}
/* percent worked better than vw. was having issues with overflow to the right */
.pimg2, .pimg3{
    position: relative;
    opacity: 0.70;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.pimg2{
    background-image: url("keyboard.jpg");
    min-height: 400px;
}

.pimg3{
    background-image: url("board.jpg");
    min-height: 400px;
}

ul li a:hover{
    color: #4A9CE8;
}

nav{
    z-index: 1;
    display: flex;
    justify-content: space-between;
    opacity: .7;
    background-color: #ddd;
    min-height: 8vh;
    align-items: center;
    font-family: monospace;
    padding-left: 10%;
    padding-right: 10%;
    position: fixed;
    width: 100%;
    top: 0;
    transition: top 0.6s ease-in-out;
}
/* having issues with sticky only going down so far*/

.logoImg{
    height: 10vh;
    padding-top: 10px;
}

a {
    font-size: 3vh;
    color: #ddd;
}

a:hover{
    color: #4A9CE8
}

.navLinks{
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.navLinks li{
    list-style: none;
}
.navLinks a{
    color: #1c2125;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 15px;
}

.section{
    text-align: center;
    padding: 50px 80px;
    background-color: #1c2125;
    color: #ddd;
    font-size: 2.5vh;
}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 2px;
    background-color: black;
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width:1024px){
    .navLinks{
        width: 60%;
    }
}

@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    .section{
        font-size: 3vh;
        text-align: center;
    }
    h1{
        font-size: 20px;
    }
    .navLinks{
        position: fixed;
        text-decoration: underline;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #ddd;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 150px;
        transform: translate(100%);
        transition: transform 0.5s ease-in;
    }
    .navLinks li{
        opacity: 0;
    }
    .burger{
        display: block;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);

    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,5px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-5px);
}
