*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html{
    height: 100%;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    scroll-behavior: smooth;
}

.pimg1{
    background-image: url("DSC_0938-min.jpg");
    z-index: -1;
    margin-top: -15%;
    height: 120%;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
}
/* percent worked better than vw. was having issues with overflow to the right */

.pimg2{
    background-image: url();
}

ul li a:hover{
    color :rgb(76, 0, 255);
}

nav{
    z-index: 1;
    display: flex;
    justify-content: space-between;
    opacity: .5;
    background-color: rgb(161, 156, 156);
    min-height: 8vh;
    align-items: center;
    font-family: monospace;
    padding-left: 10%;
    padding-right: 10%;
    position: sticky;
    top: 0;
}
/* having issues with sticky only going down so far*/

.logoImg{
    height: 10vh;
    padding-top: 10px;
}


.navLinks{
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.navLinks li{
    list-style: none;
}
.navLinks a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 15px;
}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 2px;
    background-color: black;
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width:1024px){
    .navLinks{
        width: 60%;
    }
}

@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    .navLinks{
        position: fixed;
        text-decoration: underline;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: rgb(161, 156, 156);
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 150px;
        transform: translate(100%);
        transition: transform 0.5s ease-in;
    }
    .navLinks li{
        opacity: 0;
    }
    .burger{
        display: block;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);

    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,5px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-5px);
}
